<!DOCTYPE html>
<html>
    <head>
        <title>Jadval ko'rinishi </title>
        <style>
            table{
                width: 50%;
                border-collapse: collapse;
            }
            thead{
                text-align: left;
            }
            th, td{
                border: 1px solid black;
                padding: 5px;
            }

        </style>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Familiyasi
                    </th>
                    <th>
                        yoshi
                    </th>
                    <th>
                        Qiziqishi
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        Axmadjonov
                    </td>
                    <td>
                        20
                    </td>
                    <td>
                        Dasturlash
                    </td>
                </tr>
                <tr>
                    <td>
                        2
                    </td>
                    <td>
                        Ahmedov
                    </td>
                    <td>
                        18
                    </td>
                    <td>
                        Dasturlash
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>