<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>first Django project </title>
</head>
<body>
    <h1>Django Project</h1>
    <p>Welcome my first website</p>
    <a href="https://t.me/Sukunatim_m"> Telegram kanalim 😏</a>
<p></p>
    <a href="https://www.instagram.com/_d1_or"> 👉(ASOSIY AK) Instagram ak 👈</a>
    <p></p>
    <a href="https://www.instagram.com/d1yor._.axiy"> 👉Instagram ak👈</a>
    <p>/student -> Jadval chiqadi </p>
    <p>/data -> Ma'lumotlar 👇 </p>
    <p>/library -> Oddiy text </p>
    <p>/about -> Text </p>
</body>
</html>